{% extends 'base.html' %}

{% block title %}로그인 페이지{% endblock %}
{% block content %}
<br><br><br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <div class="card">
            {% load static %}
            <img src="{% static 'img/abc.png' %}" alt="">
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-title text-center"><br>
                <p class="alert alert-warning">Dista Gram</p>  
            </div>
            <div class="card-body text-center">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% load bootstrap4 %}
                    {% bootstrap_form form %}
                    <hr>아이다가 없으세요? 
                    <a href="{% url 'accounts:signup' %}"> 회원가입</a><br>
                    <br><input class="btn btn-primary" type="submit" value="로그인">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}