{% extends 'base.html' %}

{% block title %}메인 페이지{% endblock %}
{% block content %}
<br><br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4" style="padding-bottom: 30px;">
        <div class="card">
            <div class="card-body badge badge-secondary">
                {{ post.author }}님  {{ post.created | timesince }}, 전 작성
            </div>
            <div class="card-body">
                <img src="{{ post.image.url }}" width="100%"><hr>
                <p style="color: blue";>{{ post.hash_tag }}</p>

                {% load static %}
                <a href="{% url 'dista:dista_profile' post.author.id %}"><img src="{% static 'img/프로필.png' %}"></a>
                <button class="btn btn-white">
                    <img src="{% static 'img/좋아요.png' %}"> {{ post.like|length}}
                </button>
                <button class="btn btn-white">
                    <img src="{% static 'img/싫어요.png' %}"> {{ post.dis_like|length}}
                </button>
                <hr>
                {% if post.author == request.user %}
                    <a href="{% url 'dista:dista_update' post.pk  %}" style="color: green;">수정</a>
                    <a href="{% url 'dista:dista_delete' post.pk  %}" style="color: red;">삭제</a>
                    <br>
                {% endif %}
                댓글 ({{post.posts.all|length}})
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <p class="alert alert-success text-center">댓글 남기기</p>
        {% for comment in comment_list %}
        <div class="form-group mt-1">
            <small class="badge badge-info">{{ comment.comment }}</small><br>
            <small><strong>작성자 : {{ comment.author.nick_name }}</strong></small>
            <small>({{comment.created|timesince}}), 전 작성됨</small>
        </div>
        {% endfor %}

        <div class="form-group">    
            <form action="" method="POST">
                {% csrf_token %}
                    <textarea name="comment" class="form-control" rows="2" placeholder="댓글을 입력해주세요"></textarea>
                    <input class="btn btn-primary mt-2" type="submit" value="댓글 등록">
            </form>
        </div>
    </div>
</div>
{% endblock %}