{% extends 'base.html' %}

{% block title %}메인 페이지{% endblock %}
{% block content %}
<br><br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p class="alert alert-danger">최근 업데이트 일시 : {{ post.updated|timesince }}, 전</p>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% load bootstrap4 %}
            {% bootstrap_form form %}
            <input type="submit" value="글 등록">
        </form>
    </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}