{% extends 'base.html' %}

{% block title %}메인 페이지{% endblock %}
{% block content %}
<br><br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        {% for post in post_list %} <br>
        <div class="card">
            <div class="card-body badge badge-secondary" >
                {{ post.author }}님  {{ post.created | timesince }}, 전 작성
            </div>
            <div class="card-body">
                <img src="{{ post.image.url }}" width="100%"><hr>
                좋아요 : 0개 싫어요 : 0개 <br>
                댓글 0개 
            </div>
        </div>
        {% endfor %} 
    </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}